html,
body {
  height: 100%;
  width: 100%;
  background-color: #2a2b2e;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  cursor: pointer;
}

.line {
  stroke-width: 6;
  transition: all 500ms ease;
  stroke-linecap: round;
  stroke: #8deaff;
}

.line1 {
  transform: rotate(0deg);
  transform-origin: 26px 40px;
}

.line2 {
  stroke-dasharray: 60 60;
}

.line3 {
  transform: rotate(0deg);
  transform-origin: 26px 60px;
}

.menu:hover .line {
  stroke: #ff7c7c;
}

.menu:hover .line1 {
  transform: rotate(45deg);
}

.menu:hover .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}

.menu:hover .line3 {
  transform: rotate(-45deg);
}
